@import "../../node_modules/bootstrap/scss/bootstrap";
@import "variables";
@import "nav";

body {
  background-color: $dark;
  overflow-x: hidden;
}

i {
  color: $tertiary;
}

.smoltext  {
  font-size: xx-small;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  color: $light;
}

p {
  color: $light;
}

/* Hero image styles */
/* Hero image styles */
.hero-image {
  background-image: url('/src/img/hero_image.jpg');
  background-size: cover;
  height: 600px;
  width: 100vw;

  @media (max-width: 768px) {
    background-size: cover; 
    height: 300px;
  }
}



/* Header styles */
.header-index {
  background-color: $dark;
  color: $secondary;
  text-align: center;
  padding: 20px;
  font-size: xx-large;
}

/* News section styles */
.container {
  margin-top: 20px;
  .col-md-4 {
      margin-bottom: 20px;
      h2 {
          font-size: 24px;
          font-weight: bold;
      }
      h3 {
          font-size: 18px;
      }
      p {
          font-size: 14px;
      }
      img {
          max-width: 100%;
          height: auto;
      }
  }
}

/* Footer styles */
footer {
  background-color: $dark;
  color: #fff;
  padding: 20px 0;
  a {
      color: #fff;
      text-decoration: none;
  }
}
