@import "../../node_modules/bootstrap/scss/bootstrap";
@import "variables";

/* Navbar styles */
.navbar {
  background-color: $dark;
  color: $light;
  a {
      color: $light;
      &:hover {
          color: $light;
      }
  }
  .dropdown-menu {
    background-color: $dark;
    a {
        color: $light;
        &:hover {
            color: $light;
            background-color: transparent;
        }
      }
    }
  }


/* Hero image styles */
.hero-image {
  background-image: url('/src/img/hero_image.jpg');
  background-size: cover;
  height: 600px;
  width: 100vw;
}

/* Header styles */
.header {
  background-color: $dark;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* News section styles */
.container {
  margin-top: 20px;
  .col-md-4 {
      margin-bottom: 20px;
      h2 {
          font-size: 24px;
          font-weight: bold;
      }
      h3 {
          font-size: 18px;
      }
      p {
          font-size: 14px;
      }
      img {
          max-width: 100%;
          height: auto;
      }
  }
}

/* Footer styles */
footer {
  background-color: $dark;
  color: #fff;
  padding: 20px 0;
  a {
      color: #fff;
      text-decoration: none;
  }
}
